<a href="https://colab.research.google.com/github/Sabindawadi12/Python_Takeo/blob/main/Sabin_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment 1
#Sabin Dawadi

In [ ]:
# 1. Swap two numbers using third variable

a = 11
b = 17

third = a           #temporarily stores 11
a = b               # here, a becomes 17 
b = third           # b becomes 11

print ("a =", a)
print ("b =", b)

a = 17
b = 11

In [ ]:
#2. swap two variables without using third variable

a = 11
b = 17

a , b = b , a

print("a =", a)
print("b =", b)

a = 17
b = 11

In [ ]:
#3. remove duplicate elements from a list without converting to tuple
list1 = [1, 2, 3, 12, 1, 5, 1, 6, 7, 7, 7]

new_list = []
for i in list1:             #takes each value at a iteration
    if i not in new_list:   
        new_list.append(i)  #stores each value in new list (only if that each value is not in the new list)

print(new_list)

[1, 2, 3, 12, 5, 6, 7]

In [ ]:
#4. write a program to find greatest common divider or highest common factorof given two numbers

#a = input("enter first number")
#b = input("enter second number")

a = 24
b = 32
factors_a = []
for i in range(1, a+1):
  if a%i == 0:
    factors_a.append(i)
print(factors_a) #list of factors of a

factors_b = []
for j in range(1, b+1):
  if b%j == 0:
    factors_b.append(j)
print(factors_b) #list of factors of b

common_factors =[]
for k in range(len(factors_a)-1, -1, -1):
  for p in range(len(factors_b)-1, -1, -1):
    if factors_a[k] == factors_b[p]: #common factors
      common_factors.append(factors_a[k])
print("The HCF is:", common_factors[0]) #since the loop starts from right to left, the first index in common_factors is the GCD

[1, 2, 3, 4, 6, 8, 12, 24]
[1, 2, 4, 8, 16, 32]
The HCF is: 8

In [ ]:
#5. write a loop to print the following series: 10,20,30,......300

n=300/10
print(n)
for i in range(1, 31):
  i = i*10
  print(i, end = " ")

30.0
10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [ ]:
#6. Write a loop to print following series: 105, 98, 91, ....,7
q = 105/7
print(q)

ser1 = 112
for k in range(1,16):
  ser1 = ser1 - 7
  print(ser1, end = " ")

15.0
105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [ ]:
#7. write a program to print number names of digits

dict1 = { "0": "ZERO","1": "ONE", "2": "TWO","3": "THREE","4": "FOUR", "5": "FIVE","6": "SIX","7": "SEVEN", "8": "EIGHT", "9": "NINE",}
n = 66734
str1 = str(n)
output = []

for i in str1:
  if i in dict1:
    output.append(dict1[i])
result = ' '.join(output)
print(result)

SIX SIX SEVEN THREE FOUR

In [ ]:
# 7) Write a program to print Fibonacci series till n terms take n =50 
def fibonacci(n):
    fib = [0, 1] 

    for i in range(1, n-1):
        fib_n = fib[i] + fib[i-1]
        fib.append(fib_n)
    
    return fib

n = 50
fibonacci_sequence = fibonacci(n)

for i in fibonacci_sequence:
    print(i, end = ' ')

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [ ]:
#8) Write a program to print factorial of a number 

def factoriall(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact
factoriall(5)

120

In [ ]:
#9 Write a program to check if a number is Armstrong or not

# couldn't form logic

In [ ]:
#10. WAP to convert binary to decimal
bin = 100
decimal = 0
power = 0
  
for i in reversed(str(bin)):
  bit = int(i)
  decimal = decimal + bit * (2 ** power)
  power = power + 1   
print(decimal)

4

In [ ]:
#11. WAP to convert decimal to binary

decimal = 4
binary = ""
    
if decimal == 0:
  binary = "0"
    
while decimal > 0:
  binary = str(decimal % 2) + binary
  decimal = decimal // 2
    
print(binary)

100

In [ ]:
#12. Write a program to check if number is palindrome on not (Without converting to string) 
#couldn't do

In [ ]:
#13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500 

def print_n():
    for i in range(100, 501):
        if i % 13 == 0 and i % 3 != 0:
            print(i)
print_n()

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [ ]:
#14. WAP to convert celsius to fahrenheit and vice versa
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius
celsius_to_fahrenheit(36)
fahrenheit_to_celsius(60)

15.555555555555555

In [ ]:
#15 15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0 

#concept not clear to me

In [ ]:
#16. Write a Python program that accepts a string and calculates the number of digits and letters. 
#Sample Data: Python 3.2 
#Expected Output:  
#Letters 6 
#Digits 2

string = "Python 3.2"

digit_count = 0
letter_count = 0

for i in string:
    if i.isdigit():
        digit_count += 1
    elif i.isalpha():
        letter_count += 1

print("Letters:", letter_count)
print("Digits:", digit_count)

Letters: 6
Digits: 2

In [ ]:
#17. Print all possible combination for a string or a word 
#Sample input “ABC” 
#Sample output 
#BAC 
#CAB 
#CBA 
#ACB 
#BCA

#couldn't do it

In [ ]:
#18 Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side 

def triangle_type(side1, side2, side3):
    if side1 == side2 == side3:
        return "Equilateral"
    elif side1 == side2 or side1 == side3 or side2 == side3:
        return "Isosceles"
    else:
        return "Scalene"
triangle_type(9,9,9)
triangle_type(1,2,3)

'Scalene'

In [ ]:
#19). Write a Python program to get the next day of a given date. 
#Expected Output: 
#Input a year: 2016                                                       
#Input a month [1-12]: 08                                                 
#Input a day [1-31]: 23                                                   
#The next date is [yyyy-mm-dd] 2016-8-24   

#couldn't do